<table  class="table table-hover mt-3 mb-3 table-bordered align-middle">
  <% @badges_array.each do |badge| %>
    <%= form_with model: [:admin, badge], local: true do |f| %>
      <%= render 'shared/errors', resource: badge %>
        <%= hidden_field(:badge, :badge_type, value: badge.badge_type) %>
        <tr>
          <td>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </td>
          <td>
            <%= f.label :discription %>
            <%= f.text_field :discription %>
          </td>
          <td>
            <% if badge.badge_type == "badge_category" %>
              <%= f.label :value %>:
              <%= f.collection_select :value, Category.all, :id, :title, prompt: true %>
            <% elsif badge.badge_type == "badge_level" %>
              <%= f.label :value %>:
              <%= f.collection_select :value, Test.select("level").group("level"), :level, :level, prompt: true %>
            <% else %>
              <%= f.label :value %>:
              <%= f.collection_select :value, Test.all, :id, :title, prompt: true %>             
            <% end %>

          </td>
          <td>
              <%= f.label :image, "URl image" %>
              <%= f.text_field :image %>
          </td>
          <td>
            <%= f.submit t('.add_badge') %>
          </td>
        </tr>
    <% end %>
  <% end %>
</table>
