<h1><%= t('.title', test: @test_passage.test.title) %></h1>

<div class="progress">
  <%= content_tag :div, '', 
                  class: 'progress-bar',
                  id: "test-progress-bar", 
                  role: "progressbar", 
                  data: { question: "#{@test_passage.question_number}", 
                          questions: "#{@test_passage.test.questions.count}" } %>
</div>

<%= content_tag :div, '',
                class: 'time_left mt-2',
                id: 'timer',
                data: { lefttime: "#{@test_passage.left_time.round}", 
                        timeover: "#{t('.time_over')}" } %>

<b>
  <%= t('.question') %> <%= "#{@test_passage.question_number} / #{@test_passage.test.questions.count}" %></br></br>
  <%= @test_passage.current_question.body %>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put, id: 'test_passage_form' do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b|%>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gists_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('.next'), id: 'submit_question' %></p>
<% end %>
