<header class="text-reset mb-3 bg-light">
  <nav class="navbar navbar-light ">
    <div class="container-fluid">
      <%= link_to t('menu.home'), root_path, class: 'navbar-brand' %>
      <span class="navbar-text">
        <% if user_signed_in? %>
          <b> Welcome, <%= current_user.login %> Guru</b> |
          <%= link_to t('menu.logout'), destroy_user_session_path, method: :delete, class: 'text-decoration-none' %>
            
          <% else %>
            <%= link_to t('menu.signup'), new_user_registration_path, class: 'text-decoration-none' %>
            <%= link_to t('menu.login'), new_user_session_path, class: 'text-decoration-none' %>
          <% end %>
      </span>
    </div>
  </nav>
</header>
