<h1><%= t('.test', title: @question.test.title) %></h1>

<p>
  <%= @question.body %>
</p>

<h2><%= t('.answers') %></h2>

<%= link_to t('.addanswer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('global.edit'), edit_admin_question_path(@question) %> | 
<%= link_to t('global.back'), admin_test_path(@question.test) %>
<p>
<%= @question.body %></p>
