<% if @tests.present?%>

<%= link_to t('.new_test'), new_admin_test_path %>
<h2><%= t('.header') %></h2>
  <table>
    <tr>
      <th><%= t('.tests') %></th>
      <th><%= t('.level') %></th>
      <th colspan = 3 class="text-center"><%= t('.actions') %></th>
    </tr>
    <%= render @tests %>
  </table>
<% else %>
  <p><%= t('.notests') %></p>
<% end %>
