<h1><%= t('.title', test: @test.title) %></h1>
<p><%= t('.level', test: @test.level) %></p>

<%= link_to t('.newq'), new_admin_test_question_path(@test) %> | 
<%= link_to t('global.edit'), edit_admin_test_path(@test) %> | 
<%= link_to t('global.back'), admin_tests_path %>

<% if @test.questions.size != 0%>
  <h3><%= t('.list') %></h3>
  <table>
    <tr>
      <th><%= t('.qs') %></th>
      <th class="text-center" colspan=3><%= t('.actions') %></th>
    </tr>
    
      <%= render partial: "admin/questions/question", collection: @test.questions %>
    
  </table>
<% else %>
  <p><%= t('.noq') %></p>
<% end %>
