<% if @tests.present?%>

  <h2><%= t('.header') %></h2>
    <table>
      <tr>
        <th><%= t('.tests') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.actions') %></th>
      </tr>
      <%= render @tests %>
    </table>
<% else %>
  <p><%= t('.notests') %></p>
<% end %>
