<p>Title <%= @test.title%></p>
<p>Level <%= @test.level%></p>

<%= link_to "Edit", edit_test_path(@test) %> |
<%= link_to "Back", tests_path %>

<h2>Список вопросов</h2>

<ol>
  <%= render @questions %>
</ol>